
# Override JAVA_HOME detection for all bigtop packages
export JAVA_HOME={{ java_home }}

# Provide a colon-delimited list of directories to search for native Java libraries (e.g. libjvm.so)
# export JAVA_NATIVE_PATH

# Add common dependencies to the classpath (/var/lib/bigtop will already be included)
# export BIGTOP_CLASSPATH
