<?xml version="1.0" encoding="utf-8"?>

<services xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            ssh_key="{{ root_ssh_key }}"
            effective_user="root">

{% if groups['namenodes']|count > 1 %}
{% for item in groups['namenodes'] %}
  <service id="hdfs-zkfc" host="{{ item }}"
            start="service hadoop-hdfs-zkfc start &gt; /dev/null 2&gt; /dev/null"
            stop="service hadoop-hdfs-zkfc stop &gt; /dev/null 2&gt; /dev/null"
            status="service hadoop-hdfs-zkfc status &gt; /dev/null">
  </service>

{% endfor %}
{% endif %}
{% for item in groups['namenodes'] %}
  <service id="hdfs-namenode" host="{{ item }}"
           start="service hadoop-hdfs-namenode start &gt; /dev/null"
           stop="service hadoop-hdfs-namenode stop &gt; /dev/null"
           status="service hadoop-hdfs-namenode status &gt; /dev/null">
{% for item in groups['journalnodes'] %}
       <requires id="hdfs-journalnode" host="{{ item }}" strong="false"/>
{% endfor %}
{% for item in groups['zookeepernodes'] %}
       <requires id="zookeeper-server" host="{{ item }}" strong="true"/>
{% endfor %}
{% if groups['namenodes']|count > 1 %}
       <requires id="hdfs-zkfc" host="{{ item }}" strong="true"/>
{% endif %}
  </service>

{% endfor %}
{% for item in groups['datanodes'] %}
  <service id="hdfs-datanode" host="{{ item }}"
           start="service hadoop-hdfs-datanode start &gt; /dev/null"
           stop="service hadoop-hdfs-datanode stop &gt; /dev/null"
           status="service hadoop-hdfs-datanode status &gt; /dev/null">
{% for item in groups['namenodes'] %}
       <requires id="hdfs-namenode" host="{{ item }}" strong="false"/>
{% endfor %}
  </service>

  <service id="yarn-nodemanager" host="{{ item }}"
            start="service hadoop-yarn-nodemanager start &gt; /dev/null"
            stop="service hadoop-yarn-nodemanager stop &gt; /dev/null"
            status="service hadoop-yarn-nodemanager status &gt; /dev/null">
{% for item in groups['yarnresourcemanager'] %}
       <requires id="yarn-resourcemanager" host="{{ item }}" strong="false"/>
{% endfor %}
  </service>

{% if groups['impala-store-catalog']|count > 0 %}
  <service id="impala-server" host="{{ item }}"
            start="service impala-server start &gt; /dev/null"
            stop="service impala-server stop &gt; /dev/null"
            status="service impala-server status &gt; /dev/null">
       <requires id="impala-catalog" host="{{ groups['impala-store-catalog'][0] }}" strong="true"/>
  </service>

{% endif %}
{% if groups['hbasemaster']|count > 0 %}
  <service id="hbase-regionserver" host="{{ item }}"
            start="service hbase-regionserver start &gt; /dev/null"
            stop="service hbase-regionserver stop &gt; /dev/null"
            status="service hbase-regionserver status &gt; /dev/null">
       <requires id="hbase-master" host="{{ groups['hbasemaster'][0] }}" strong="true"/>
  </service>

{% endif %}
{% endfor %}

  <service id="hdfs-ready" host="{{ groups['namenodes'][0] }}"
           start="exit 0"
           status="{{ etc_folder }}/hadoop/hdfs-ready.sh">
{% for item in groups['datanodes'] %}
       <requires id="hdfs-datanode" host="{{ item }}" strong="true"/>
{% endfor %}
  </service>


{% for item in groups['yarnresourcemanager'] %}
  <service id="yarn-resourcemanager" host="{{ item }}"
            start="service hadoop-yarn-resourcemanager start &gt; /dev/null"
            stop="service hadoop-yarn-resourcemanager stop &gt; /dev/null"
            status="service hadoop-yarn-resourcemanager status &gt; /dev/null">
  </service>
{% endfor %}

  <service id="hadoop-mapreduce-historyserver" host="{{ groups['yarnresourcemanager'][0] }}"
            start="service hadoop-mapreduce-historyserver start &gt; /dev/null"
            stop="service hadoop-mapreduce-historyserver stop &gt; /dev/null"
            status="service hadoop-mapreduce-historyserver status &gt; /dev/null">
{% for item in groups['yarnresourcemanager'] %}
       <requires id="yarn-resourcemanager" host="{{ item }}" strong="false"/>
{% endfor %}
  </service>

{% for item in groups['zookeepernodes'] %}
  <service id="zookeeper-server" host="{{ item }}"
            start="service zookeeper-server start &gt; /dev/null 2&gt; /dev/null"
            stop="service zookeeper-server stop &gt; /dev/null 2&gt; /dev/null"
            status="service zookeeper-server status &gt; /dev/null">
  </service>

{% endfor %}
{% for item in groups['journalnodes'] %}
  <service id="hdfs-journalnode" host="{{ item }}"
            start="service hadoop-hdfs-journalnode start &gt; /dev/null 2&gt; /dev/null"
            stop="service hadoop-hdfs-journalnode stop &gt; /dev/null 2&gt; /dev/null"
            status="service hadoop-hdfs-journalnode status &gt; /dev/null">
  </service>
{% endfor %}

{% for item in groups['postgresql'] %}
  <service id="postgresql" host="{{ item }}"
            start="service postgresql{% if postgres_version %}-{{ postgres_version }}{% endif %} start &gt; /dev/null 2&gt; /dev/null"
            stop="service postgresql{% if postgres_version %}-{{ postgres_version }}{% endif %} stop &gt; /dev/null 2&gt; /dev/null"
            status="service postgresql{% if postgres_version %}-{{ postgres_version }}{% endif %} status &gt; /dev/null 2&gt; /dev/null">
  </service>
{% endfor %}

{% for item in groups['hivemetastore'] %}
  <service id="hive-metastore" host="{{ item }}"
            start="service hive-metastore start &gt; /dev/null 2&gt; /dev/null"
            stop="service hive-metastore stop &gt; /dev/null 2&gt; /dev/null"
            status="service hive-metastore status &gt; /dev/null">
        <requires id="postgresql" host="{{ groups['postgresql'][0] }}"/>
  </service>

  <service id="hive-server2" host="{{ item }}"
            start="service hive-server2 start &gt; /dev/null 2&gt; /dev/null"
            stop="service hive-server2 stop &gt; /dev/null 2&gt; /dev/null"
            status="service hive-server2 status &gt; /dev/null">
       <requires id="hive-metastore" host="{{ item }}"/>
{% for item in groups['zookeepernodes'] %}
       <requires id="zookeeper-server" host="{{ item }}" strong="true"/>
{% endfor %}
  </service>
{% endfor %}

{% for item in groups['hbasemaster'] %}
  <service id="hbase-master" host="{{ item }}"
            start="service hbase-master start &gt; /dev/null 2&gt; /dev/null"
            stop="service hbase-master stop &gt; /dev/null 2&gt; /dev/null"
            status="service hbase-master status &gt; /dev/null">
{% for item in groups['zookeepernodes'] %}
       <requires id="zookeeper-server" host="{{ item }}" strong="true"/>
{% endfor %}
  </service>

  <service id="hbase-thrift" host="{{ item }}"
            start="service hbase-thrift start &gt; /dev/null 2&gt; /dev/null"
            stop="service hbase-thrift stop &gt; /dev/null 2&gt; /dev/null"
            status="service hbase-thrift status &gt; /dev/null">
       <requires id="hbase-master" host="{{ groups['hbasemaster'][0] }}" strong="true"/>
  </service>
{% endfor %}

{% for item in groups['hue'] %}
  <service id="hadoop-httpfs" host="{{ item }}"
            start="service hadoop-httpfs start &gt; /dev/null 2&gt; /dev/null"
            stop="service hadoop-httpfs stop &gt; /dev/null 2&gt; /dev/null"
            status="service hadoop-httpfs status &gt; /dev/null">
  </service>

  <service id="hue-setacl" host="{{ item }}"
            start="setfacl -m user:hue:r-- /etc/shadow &gt; /dev/null 2&gt; /dev/null">
  </service>

  <service id="hue" host="{{ item }}"
            start="service hue start &gt; /dev/null 2&gt; /dev/null"
            stop="service hue stop &gt; /dev/null 2&gt; /dev/null"
            status="service hue status &gt; /dev/null">
        <requires id="postgresql" host="{{ groups['postgresql'][0] }}" strong="true"/>
  </service>
{% endfor %}

{% for item in groups['oozie'] %}
  <service id="oozie" host="{{ item }}"
            start="service oozie start &gt; /dev/null 2&gt; /dev/null"
            stop="service oozie stop &gt; /dev/null 2&gt; /dev/null"
            status="service oozie status &gt; /dev/null">
        <requires id="postgresql" host="{{ groups['postgresql'][0] }}" strong="true"/>
  </service>
{% endfor %}

{% for item in groups['impala-store-catalog'] %}
  <service id="impala-state-store" host="{{ item }}"
            start="service impala-state-store start &gt; /dev/null 2&gt; /dev/null"
            stop="service impala-state-store stop &gt; /dev/null 2&gt; /dev/null"
            status="service impala-state-store status &gt; /dev/null">
        <requires id="hive-metastore" host="{{ groups['hivemetastore'][0] }}"/>
        <requires id="hdfs-ready" host="{{ groups['namenodes'][0] }}"/>
  </service>

  <service id="impala-catalog" host="{{ item }}"
            start="service impala-catalog start &gt; /dev/null 2&gt; /dev/null"
            stop="service impala-catalog stop &gt; /dev/null 2&gt; /dev/null"
            status="service impala-catalog status &gt; /dev/null">
        <requires id="impala-state-store" host="{{ item }}" strong="true"/>
  </service>
{% endfor %}

{% if groups['spark']|count > 0 %}
  <service id="spark-history-server" host="{{ groups['spark'][0] }}"
            start="service spark-history-server start &gt; /dev/null 2&gt; /dev/null"
            stop="service spark-history-server stop &gt; /dev/null 2&gt; /dev/null"
            status="service spark-history-server status &gt; /dev/null">
  </service>
{% endif %}

{% for item in groups['solr'] %}
  <service id="solr-server" host="{{ item }}"
            start="service solr-server start &gt; /dev/null 2&gt; /dev/null"
            stop="service solr-server stop &gt; /dev/null 2&gt; /dev/null"
            status="service solr-server status &gt; /dev/null">
{% for item in groups['zookeepernodes'] %}
       <requires id="zookeeper-server" host="{{ item }}" strong="true"/>
{% endfor %}
  </service>
{% endfor %}

{% if enable_snmp %}
{% for item in groups['java'] %}
  <service id="snmp" host="{{ item }}"
            start="service subagent-shell start &gt; /dev/null 2&gt; /dev/null"
            stop="service subagent-shell stop &gt; /dev/null 2&gt; /dev/null"
            status="service subagent-shell status &gt; /dev/null">
  </service>
{% endfor %}
{% endif %}

{% if enable_syslog %}
{% for item in groups['java'] %}
  <service id="syslog" host="{{ item }}"
            start="service syslog-ng reload &gt; /dev/null 2&gt; /dev/null"
            status="service syslog-ng status &gt; /dev/null">
  </service>
{% endfor %}
{% endif %}

  <group name="monitoring">
{% if enable_snmp %}
{% for item in groups['java'] %}
    <service id="snmp" host="{{ item }}"/>
{% endfor %}
{% endif %}
{% if enable_syslog %}
{% for item in groups['java'] %}
    <service id="syslog" host="{{ item }}"/>
{% endfor %}
{% endif %}
  </group>

  <group name="hdfs">
{% for item in groups['namenodes'] %}
    <service id="hdfs-namenode" host="{{ item }}"/>
{% endfor %}
{% if groups['namenodes']|count > 1 %}
{% for item in groups['namenodes'] %}
    <service id="hdfs-zkfc" host="{{ item }}"/>
{% endfor %}
{% endif %}
{% for item in groups['journalnodes'] %}
    <service id="hdfs-journalnode" host="{{ item }}"/>
{% endfor%}
{% for item in groups['datanodes'] %}
    <service id="hdfs-datanode" host="{{ item }}"/>
{% endfor %}
    <service id="hdfs-ready" host="{{ groups['namenodes'][0] }}"/>
  </group>

  <group name="yarn">
    <service id="yarn-resourcemanager" host="{{ groups['yarnresourcemanager'][0] }}"/>
    <service id="hadoop-mapreduce-historyserver" host="{{ groups['yarnresourcemanager'][0] }}"/>
{% for item in groups['datanodes'] %}
    <service id="yarn-nodemanager" host="{{ item }}"/>
{% endfor %}
  </group>

{% if groups['zookeepernodes']|count > 0 %}
  <group name="zookeeper">
{% for item in groups['zookeepernodes'] %}
    <service id="zookeeper-server" host="{{ item }}"/>
{% endfor%}
  </group>
{% endif %}

{% if groups['impala-store-catalog']|count > 0 %}
  <group name="impala">
{% for item in groups['impala-store-catalog'] %}
    <service id="impala-catalog" host="{{ item }}"/>
    <service id="impala-state-store" host="{{ item }}"/>
{% endfor %}
{% for item in groups['datanodes'] %}
    <service id="impala-server" host="{{ item }}"/>
{% endfor %}
  </group>
{% endif %}

{% if groups['hivemetastore']|count > 0 %}
  <group name="hive">
{% for item in groups['hivemetastore'] %}
    <service id="hive-metastore" host="{{ item }}"/>
    <service id="hive-server2" host="{{ item }}"/>
{% endfor %}
  </group>
{% endif %}

{% if groups['kafka']|count > 0 %}
  <group name="kafka">
{% for item in groups['kafka'] %}
  <service id="kafka-server" host="{{ item }}"
           start="service kafka-server start &gt; /dev/null"
           stop="service kafka-server stop &gt; /dev/null"
           status="service kafka-server status &gt; /dev/null">
{% for item in groups['zookeepernodes'] %}
       <requires id="zookeeper-server" host="{{ item }}" strong="true"/>
{% endfor %}
  </service>
{% endfor %}
  </group>
{% endif %}
</services>
