# Default system properties included when running spark-submit.
# This is useful for setting default environmental settings.

# Example:
# spark.master                     spark://master:7077
spark.eventLog.enabled           true
{% if groups['namenodes']|count > 1 %}
spark.eventLog.dir               hdfs://{{ cluster_name }}{{ spark_history_server_dir }}
{% else %}
spark.eventLog.dir               hdfs://{{ groups['namenodes'][0] }}:8020{{ spark_history_server_dir }}
{% endif %}
# spark.serializer                 org.apache.spark.serializer.KryoSerializer
# spark.driver.memory              5g
# spark.executor.extraJavaOptions  -XX:+PrintGCDetails -Dkey=value -Dnumbers="one two three"
