{% if groups['zookeepernodes']|count > 1 %}
{% set index = 1 %}
{% for item in groups['zookeepernodes'] %}
{% if ansible_hostname == item %}
{{ index }}
{% endif %}
{% set index = index +1 %}
{% endfor %}
{% endif %}
