
maxClientCnxns=50
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir={{zookeeper_data_dir}}
# the port at which the clients will connect
clientPort=2181
# the directory where the transaction logs are stored.
dataLogDir={{zookeeper_data_dir}}

{% if groups['zookeepernodes']|count > 1 %}
{% set index = 1 %}
{% for item in groups['zookeepernodes'] %}
server.{{ index }}={{ item }}:2888:3888
{% set index = index +1 %}
{% endfor %}
{% endif %}
