DROP DATABASE IF EXISTS "oozie";
DROP ROLE IF EXISTS oozie;
CREATE ROLE oozie LOGIN ENCRYPTED PASSWORD '{{ oozie_password }}' NOSUPERUSER INHERIT CREATEDB NOCREATEROLE;
CREATE DATABASE "oozie" WITH OWNER = oozie
 ENCODING = 'UTF8'
 TABLESPACE = pg_default
 LC_COLLATE = 'en_US.UTF-8'
 LC_CTYPE = 'en_US.UTF-8'
 CONNECTION LIMIT = -1;
\q
